[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DiceView"]
	path = DiceView
	url = https://github.com/irsn/diceview
[submodule "Renext"]
	path = Renext
	url = https://github.com/irsn/renext
